body {
  background-color: blueviolet;
}

header {
  color: black;
  font-size: calc(10px + 1vmin);
  text-align: center;
}

h1, h2, p, ul {
  margin-top: 0;
  margin-bottom: 0;
}

span {
  font-size: calc(20px + 4vmax);
  font-family: 'Zhi Mang Xing';
}

.pick-spell {
  border-radius: 10%;
}

.before-click {
  background-image: url(icons/wizard.svg);
  width: 7vmin;
  height: 7vmin;
}

.after-click {
  background-image: url(icons/refresh.svg);
  height: 5vmin;
  width: 5vmin;
  background-size: cover;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
    font-family: 'Roboto', sans-serif;
    font-size: 2vmin;
    background-color: white;
    border: black solid 2px;
    border-radius: 8%;
    width: 30vh;
    height: calc(3vmin + 10px);
    margin: 10px;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card {
  border: solid 2px black;
  border-radius: 5%;
  background-color: cadetblue;
  margin: 7px;
  padding: 5px;
  font-size: calc(10px + 1vmin);
}

.card-heading {
  text-align: center;
  height: 12vh;
}

.card:hover {
  transition: ease-in;
  transform: scale(1.02, 1.02);
  background-color: greenyellow;
}

.invisible {
  display: none;
}

h1 > img {
  height: calc(50px + 1vmin);
}

div > img {
  height: calc(30px + 1vmin);
  display: block;
  margin: 0 auto;
}

ul {
  padding: 10px 0 5px 0;
  list-style-type: none;
}

.card-heading > h1 {
  font-size: calc(15px + 1vmin);
}

.card-heading > h2 {
  font-size: calc(10px + 1vmin);
  padding-top: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.cast-spell {
  border-radius: 10%;
  font-size: calc(10px + 1vmin);
  padding: 10px;
  margin: 1vmin;
}